<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="prefetch" href="/assets/images/actionBanner.png">
    <link rel="prefetch" href="/assets/images/actionTile.png">
    <link rel="prefetch" href="/assets/images/musicalBanner.png">
    <link rel="prefetch" href="/assets/images/musicalTile.png">
    <link rel="prefetch" href="/assets/images/scifiBanner3.png">
    <link rel="prefetch" href="/assets/images/scifiTile3.png">
    <link rel="prefetch" href="/assets/images/comedyBanner.png">
    <link rel="prefetch" href="/assets/images/comedyWall.png">
    <link rel="prefetch" href="/assets/images/comedyWall2.png">

    <title>Berubians Theater</title>
</head>

<body>

    <header>

        <!-- BANNER holds the backgorund tile (which repeats) -->
        <div id="banner">
            <!-- PING holds the main image and posiitons it (without repeating) -->
            <!-- PING also changes the class of BANNER, PING, and EXTRA (acviated by ON.CLIKC) -->
            <div id="ping">
                <!-- EXTRA holds anything meant to superimpose the main image in PING -->
                <div id="extra">
                    <img src="assets/images/stopgap.png" class="stopgap">
                </div>
            </div>
        </div>

        <div class="links sticky">

            <div class="resp">

                <span class="links">
                    <a href="/">Home</a>
                </span>
                <span class="links">
                    <a href="/shows">Shows</a>
                </span>
                <span class="links">
                    <a href="/classes">Classes</a>
                </span>
                <span class="links">
                    <a href="/auditions">Auditions</a>
                </span>

            </div>

        </div>

        <div id="social">

            <a href="http://maps.google.com/?q=1523 N La Brea Ave Hollywood CA 90028" target="blank">
                <img src="assets/images/map.png" class="clickable l">
            </a>

            <a href="https://www.meetup.com/Berubian-Theater-Auditions-Workshops-and-Shows/?_cookie-check=XNXTlkYKvBX5A8oP" target="blank">
                <img src="assets/images/meetup.png" class="clickable r">
            </a>
            <a href="https://www.instagram.com/explore/locations/257557933/the-next-stage-the-berubians/" target="blank">
                <img src="assets/images/instagram.png" class="clickable r">
            </a>
            <a href="https://www.facebook.com/pages/Berubians-Theater-Company/276621459015336" target="blank">
                <img src="assets/images/facebook.png" class="clickable r">
            </a>

        </div>

    </header>

    <!-- MAIN holds the page's body content (excluding the GUTTER DIV and the FOOTER) -->
    <div class="main">

        {{{ body }}}

    </div>

    <!-- GUTTER controls spacing between MAIN and the FOOTER -->
    <div class="gutter"></div>

    <!-- FOOTER is pinned to the bottom of each page -->
    <footer>

        <div class="pad">

            <span class="left">
                <a href="/contact" class="bottom">Contact Us</a>
            </span>
            <a href="/rent" class="bottom">Rent Our Space</a>
            <span class="right">
                <a href="/support" class="bottom">Support Us</a>
            </span>

        </div>

    </footer>

    <!-- SCRIPT that determines the CLASSES of the BANNER, PING, and EXTRA divs -->
    <script type="text/javascript" src="assets/js/swap.js"></script>
    <!-- SCRIPT that pins the LINKS DIV to the top of the screen as the user scrolls -->
    <script type="text/javascript" src="assets/js/headerFix.js"></script>

</body>

</html>