<div class="post">

    <h3 class="text">Testing...Testing...</h3>

    <div class="text">

        Once the app goes live (this Heroku server is merely providing a demo), admins will be able to quickly add/remove auditions
        from schedules via private admin tool pages. Audition schedules will then populate on this page.

        <br />
        <br /> Auditions will be listed chronologically (separated by month) on this page, and will be automatically removed when
        their air-date passes. It will be possible to attach images to individual show posts.

    </div>

</div>