<div class="post">

    <h3 class="text">Testing...Testing...</h3>

    <div class="text">

        To avoid unintentionally accumulating Heroku server costs and confusing clients with sample schedules, this demo does not
        make calls to the Berubain Theater's database. As such, schedules are not currently populating.

        <br />
        <br /> Once the app goes live, however, admins will be able to quickly add/remove classes from schedules via private admin
        tool pages. Class schedules will then populate on this page.

        <br />
        <br /> Classes will be listed chronologically (separated by month) on this page and will be automatically removed when
        their air-date passes. It will be possible to attach images to individual posts.

    </div>

</div>