<div class="post">

    <h3 class="text">Improv Workshop</h3>

    <div class="text">

        Our theater's oldest, most beloved, and most eyebrow-raising class:
        <strong>
            <u>Chris Berube's Improv Workshop</u>!
        </strong>

        <br />
        <br /> No dues, no levels, no perquisites, nothing to sign, and no commitments! Just actors coming together to hone their
        talents, work their creativity, fill their spaces, and adapt hilariously to unpredictable situations!

    </div>

    <h5 class="zero">
        <span class="links chain floor">
            Mondays at 8PM
        </span>
        <span class="links chain">
            Free Workshop
        </span>
    </h5>

</div>

<br />

<div class="post">

    <h3 class="text">On Camera Scene Study</h3>

    <div class="text">

        Are you a new actor in need of on-camera experience? Are you a veteran screen actor looking to refine your talent? Are you
        a talented theater actor dreaming of making the jump from stage to screen? Then this workshop is for you!

        <br />
        <br /> There is a cost for this workshop, but we want to give everyone a chance to try before they pay for it. Come on
        by and get 1 month free!

    </div>

    <h5 class="zero">
        <span class="links chain floor">
            Tuesdays at 8PM
        </span>
        <span class="links chain">
            Your 1st Month Free
        </span>
    </h5>

</div>