<div class="post">

    <h3 class="text">Renting Our Space</h3>

    <div class="text">

        Interested in
        <a href="/rent" class="top">Renting Our Space</a>? Fantastic! Contact
        <strong>Chris Berube</strong> and get a quote!

        <br />
        <br /> When you do contact him, be sure to specify which of our 2 stages you want to rent: the
        <a href="/rent" class="top">Next Stage</a> or the
        <a href="/tres" class="top">Tre Stage</a>.

        <br />
        <br /> (Go
        <a href="/rent" class="top">here</a> if you need more info about our 2 stages)

    </div>

    <h5 class="zero">
        <span class="links chain floor">
            Phone:
            <a href="tel:323-850-7827">323-850-7827</a>
        </span>
        <span class="links chain">
            eMail:
            <a href="mailto:chrisberube@mail.com">chrisberube@mail.com</a>
        </span>
    </h5>

</div>

<br />

<div class="post">

    <h3 class="text">Shows, Events, &amp; General Inquiries</h3>

    <div class="text">

        Have a question about a
        <a href="/shows" class="top">Show</a> or
        <a href="/events" class="top">Event</a>? Or just a general question about the theater? Contact
        <strong> Rosanna Olguin</strong> to get it answered!

        <br />
        <br />
        <strong>Rose</strong> is one of our theater's resident directors. She's handled over 100 productions, shows, rehearsals,
        and events at our theater. If you've got a general question, she has an answer!

    </div>

    <h5 class="zero">
        <span class="links chain floor">
            Phone:
            <a href="tel:323-850-7827">323-850-7827</a>
        </span>
        <span class="links chain">
            eMail:
            <a href="mailto:r.olguin44@yahoo.com">r.olguin44@yahoo.com</a>
        </span>
    </h5>

</div>

<br />

<div class="post">

    <h3 id="me" class="text">Contacting our Tech Manager</h3>

    <div class="text">

        Need to get in touch with
        <a href="https://www.linkedin.com/in/jonathan-gilbert-2395ba94/" class="top" target="blank">Jon Gilbert</a>, the handsome, brilliant, charismatic supergenius responsible for this app? The supergenius who,
        incidentally, is writing this bio in the 3rd-person?

        <br />
        <br /> Perhaps you require his services as a Technical Manager or a Developer? Or you need him to manage a production?
        Or you've been charmed by his godlike ability to write his own bio without sounding full of himself, and have now
        fallen madly in love with him? All of these would be understandable.

        <br />
        <br /> Use the info below to drop him a line! Or track him down via
        <a href="https://www.linkedin.com/in/jonathan-gilbert-2395ba94/" class="top" target="blank">LinkedIn</a> or
        <a href="https://github.com/Crenzio" class="top" target="blank">Github</a>!

    </div>

    <h5 class="zero">
        <div class="center">
            <a href="https://www.linkedin.com/in/jonathan-gilbert-2395ba94/" target="blank">
                <div class="linkedin"></div>
            </a>
            <a href="https://github.com/Crenzio" target="blank">
                <div class="github"></div>
            </a>
        </div>
        <span class="links chain">
            Phone:
            <a href="tel:714-393-2763">714-393-2763</a>
        </span>
        <span class="links chain">
            eMail:
            <a href="mailto:jonathan.r.gilbert@email.com">jonathan.r.gilbert@gmail.com</a>
        </span>
    </h5>

</div>