<div class="post">

    <h3 class="text">Open Mic Nights</h3>

    <div class="text">

        Come onstage and show a live audience your stand-up comedy chops!

        <br />
        <br /> Not interested in participating? No problem! Come grab a seat in the audience and watch the brilliance and/or madness
        unfold!

    </div>

    <h5 class="zero">
        <span class="links chain floor">
            Mondays and Wednesdays at 11PM
        </span>
        <span class="links chain">
            Free Event
        </span>
    </h5>

</div>