<div class="post">

    <h3 class="text">Welcome to the Berubian Theater</h3>

    <div class="text">

        We're a community black-box theater that's always on the hunt for new talent and new audiences.

        <br />
        <br /> We believe that the primary duty of a community theater is to support its performers, writers, and directors - and
        we never take that responsibility lightly.

        <br />
        <br /> We welcome veterans and newcomers alike. We love helping new actors get started, and helping veteran actors further
        refine their talents. As a matter of principal,
        <strong>we never charge our performers dues or fees to perform in shows</strong> (nor do we make them pay us in any other way).

        <br />
        <br /> If you're an actor who's interested in performing with us, keep an eye on our
        <a href="/auditions" class="top">Auditions Page</a> <!--, join our
        <a href="/mail" class="top">Mailing List</a>,--> or follow us on
        <a href="/social" class="top">Social Media</a>.

        <br />
        <br /> But we do more than support actors. We also take every opportunity to provide writers, directors, and stand-up comedians
        with a place to put on their shows.

        <br />
        <br /> Are you a comedian looking for a place to perform? A director looking for a show to run? A teacher who needs space
        for a workshop? Or someone looking to host an event? Well, then ask about
        <a href="/rent" class="top">Renting Our Space</a>.

        <br />
        <br /> If you're an aspiring performer looking to sharpen your skills, or an enthusiast who just wants to hang out and
        do improv, then take a look at our
        <a href="/classes" class="top">Classes</a>.

        <br />
        <br /> Everyone else, take a look at the
        <a href="/shows" class="top">Shows</a> we have playing.

    </div>

</div>