<div class="post">

    <div class="text">

        Hello Chris and Rose,

        <br />
        <br /> I've created a
        <a href="https://www.meetup.com/Berubian-Theater-Auditions-Workshops-and-Shows/?_cookie-check=XNXTlkYKvBX5A8oP" target="blank"
            class="top">Meetup</a>
        for your theater, which has amassed nearly 600 members. It is paid up for 1 year (my treat). It will expire in November 2018.

        <br />
        <br /> Please be aware that I will not continue funding the account beyond November 2018.

        <br />
        <br /> If you would like it to keep running beyond November 2018, please create your own
        <a href="https://www.meetup.com/Berubian-Theater-Auditions-Workshops-and-Shows/?_cookie-check=XNXTlkYKvBX5A8oP" target="blank"
            class="top">Meetup</a> account, so I can transfer the followers over to you.

        <br />
        <br /> Let me know how you'd like to proceed with
        <a href="https://www.meetup.com/Berubian-Theater-Auditions-Workshops-and-Shows/?_cookie-check=XNXTlkYKvBX5A8oP" target="blank"
            class="top">Meetup</a>

        <br />
        <br /> Best,
        <br /> Jon

    </div>

</div>