<div class="post">

    <div class="text">

        Hello Chris and Rose,

        <br />
        <br /> Since your theater - like most (if not all) community theaters - relies on support from donors, I would like to
        make you aware of
        <a href="https://www.patreon.com" target="blank" class="top">Patreon</a>, a system which allows people to make digital donations to a person or company. This is likely the best
        way for you to request donations from backers.

        <br />
        <br /> Please set up a
        <a href="https://www.patreon.com" target="blank" class="top">Patreon</a> account. Once you do, I'll have this app link to it (instead of redirecting to this test page).

        <br />
        <br /> Please be aware that I cannot create an account for you, as that would require me to know your credit card and/or
        banking info. I would never steal or misuse your financial information, of course, but it's good practice not to
        give it out when you don't have to. Best to create and manage the account yourselves.

        <br />
        <br /> Also,
        <a href="https://www.patreon.com" target="blank" class="top">Patreon</a> gives users the option to make monthly donations. I recommend you offer rewards to users who do this.
        However, I must advise you:

        <br />
        <br />

        <h3>Do not offer rewards unless you are prepared to honor them, and confident that you can keep track of who has earned
            them.
        </h3>

        <br /> Now, with that out of the way, here is a table of the reward tiers I recommend:

        <br />
        <br />

        <div class="prizeBox">

            <div class="center prize prizeBlue">
                <h3 class="prize">$10 / Month</h3>
                <br/> 50% off 1 ticket every month</div>
            <div class="center prize prizeBlue">
                <h3 class="prize">$20 / Month</h3>
                <br/> 50% off on all tickets</div>
            <div class="center prize prizeBlue">
                <h3 class="prize">$30 / Month</h3>
                <br /> 50% off all tickets + 1 free ticket every month</div>
            <div class="center prize prizeGreen">
                <h3 class="prize">$50 / Month</h3>
                <br/> Unlimited free tickets</div>

        </div>

        <br /> Let me know how you'd like to proceed with
        <a href="https://www.patreon.com" target="blank" class="top">Patreon</a>.

        <br />
        <br /> Best,
        <br /> Jon

    </div>

</div>