<div class="poster center">

    <span class="links clicked">
        The Next Stage
    </span>
    <span class="links">
        <a href="/tres">The Tres Stage</a>
    </span>

</div>

<br />

<div class="post">

    <span id="stageInfo">

        <h3 class="text">The Next Stage</h3>

        <h1 id="stage">
            <u>Stage Specifications</u>
        </h1>

        <div class="text">

            <p>The larger of our two stages, the
                <strong>Next Stage</strong> sports a sizable Proscenium Stage, with 3 stage entrances and a trapdoor. The 3 entrances
                are linked by a built-in backstage area, which grants quick access to the theater's dressing room and prop
                storage areas. The trapdoor exits out into the dressing room.</p>

            <br />

            <ul>
                <li>Proscenium Stage</li>
                <li>3 Stage Entrances</li>
                <li>1 Trapdoor Entrance</li>
            </ul>

            <br />

        </div>

        <h1 id="sfx">
            <u>Lighting &amp; Sound</u>
        </h1>

        <div class="text">

            <p>The
                <strong>Next Stage</strong> comes fully loaded with a lighting and sound system, controlled via a small one-man SFX
                booth located at the back of the auditorium (behind the audience).</p>

            <br />

            <ul>
                <li>1-man SFX booth located behind the audience</li>
                <li>Lighting controlled by switches in the SFX booth</li>
                <li>Audio controlled by a computer in the SFX booth</li>
                <li>Booth has clear line-of-sight to the stage, allowing techs to react quickly</li>
            </ul>

            <br />

        </div>

        <h1 id="audience">
            <u>Audience / Seating</u>
        </h1>

        <div class="text">

            <p>Bench seating for up to 40 audience members.</p>

            <br />

            <ul>
                <li>Intimate Black-Box venue</li>
                <li>Bench seating for up to 40 audience members</li>
            </ul>

            <br />

        </div>

        <h1 id="etc">
            <u>Amenities</u>
        </h1>

        <div class="text">

            <p>When you rent the
                <strong>Next Stage</strong>, you also get...</p>

            <br />

            <ul>
                <li>An Indoor Ticket Booth</li>
                <li>Access to Dressing Room &amp; Prop Storage areas (shared with the
                    <a href="/tres" class="top">Tres Stage</a>)</li>
                <li>Your show posted on
                    <a href="/shows" class="top">our website</a>
                </li>
            </ul>

            <br />

        </div>

        <h5 class="zero">
            <div class="center floor">
                <h1>
                    <u>Contact Us For a Quote</u>
                </h1>
            </div>
            <span class="links chain floor">
                Phone:
                <a href="tel:323-463-3835">323-463-3835</a>
            </span>
            <span class="links chain">
                eMail:
                <a href="mailto:chrisberube@mail.com">chrisberube@mail.com</a>
            </span>
        </h5>

    </span>

</div>

<!--

<div class="post">

    <div class="poster flex">

        <div id="rent" class="noteNext">

            <div class="noteSmall posterText">

                <br />
                <div id="next" class="center nudge">
                    <b>
                        THE NEXT STAGE
                    </b>
                </div>
                <br />

                <ul>
                    <li>Block Box Venue</li>
                    <li>Proscenium Stage</li>
                    <li>XxY Stage</li>
                    <li>Seats 40 Guests</li>
                    <li>3 Stage Entrances</li>
                    <li>1 Trapdoor</li>
                    <li>Built-In Lighting</li>
                    <li>Built-In Sound</li>
                    <li>Backstage</li>
                    <li>Dressing Room</li>
                </ul>

                <br />
                <div id="tres" class="center nudge rose">
                    <b>
                        THE TRES STAGE
                    </b>
                </div>
                <br />

                <ul>
                    <li>Block Box Venue</li>
                    <li>3/4 Thrust Stage</li>
                    <li>XxY Stage</li>
                    <li>Seats 30 Guests</li>
                    <li>2 Stage Entrances</li>
                    <li>Built-In Lighting</li>
                    <li>Built-In Sound</li>
                    <li>Backstage</li>
                    <li>Dressing Room</li>
                </ul>

                <br />

            </div>

        </div>

    </div>

    <h5 class="zero">
        <div class="center floor">
            <h1>
                <u>Contact Us For a Quote</u>
            </h1>
        </div>
        <span class="links chain floor">
            Phone:
            <a href="tel:323-463-3835">323-463-3835</a>
        </span>
        <span class="links chain">
            eMail:
            <a href="mailto:chrisberube@mail.com">chrisberube@mail.com</a>
        </span>
    </h5>

</div>

<script type="text/javascript" src="assets/js/rent.js"></script>

-->