<div class="post">

    <div class="poster flex">

        <div id="rent" class="noteNext">

            <div class="noteSmall posterText">

                <br />
                <div id="next" class="center nudge">
                    <b>
                        THE NEXT STAGE
                    </b>
                </div>
                <br />

                <ul>
                    <li>Block Box Venue</li>
                    <li>Proscenium Stage</li>
                    <li>Seats 40 Guests</li>
                    <li>3 Stage Entrances</li>
                    <li>1 Trapdoor</li>
                    <li>Built-In Lighting</li>
                    <li>Built-In Sound</li>
                    <li>Backstage</li>
                    <li>Dressing Room</li>
                </ul>

                <br />
                <div id="tres" class="center nudge rose">
                    <b>
                        THE TRES STAGE
                    </b>
                </div>
                <br />

                <ul>
                    <li>Block Box Venue</li>
                    <li>3/4 Thrust Stage</li>
                    <li>Seats 30 Guests</li>
                    <li>2 Stage Entrances</li>
                    <li>Built-In Lighting</li>
                    <li>Built-In Sound</li>
                    <li>Backstage</li>
                    <li>Dressing Room</li>
                </ul>

                <br />

            </div>

        </div>

    </div>

    <h5 class="zero">
        <div class="center floor">
            <h1>
                <u>Contact Us For a Quote</u>
            </h1>
        </div>
        <span class="links chain floor">
            Phone:
            <a href="tel:323-463-3835">323-463-3835</a>
        </span>
        <span class="links chain">
            eMail:
            <a href="mailto:chrisberube@mail.com">chrisberube@mail.com</a>
        </span>
    </h5>

</div>

<script type="text/javascript" src="assets/js/rent.js"></script>