<div class="post">

    <h3 class="text facebook">Facebook</h3>

    <div class="text">

        We use
        <strong>Facebook</strong> to announce auditions, shows, and other events. We also use it to promote actors in our shows.

        <br />
        <br /> Follow us on
        <strong>Facebook</strong> to...

        <br />
        <br />

        <ul>
            <li>Hear about auditions</li>
            <li>Hear about shows and events</li>
            <li>See if you have any friends performing with us</li>
        </ul>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text meetup">MeetUp</h3>

    <div class="text">

        <strong>Meetup</strong> is where we announce our free events; improv workshops, open-mic nights, etc.

        <br />
        <br /> Follow us on
        <strong>MeetUp</strong> to...

        <br />
        <br />

        <ul>
            <li>Meet other theater fans</li>
            <li>Get together with some friends and enjoy our theater's free workshops and events</li>
        </ul>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text instagram">Instagram</h3>

    <div class="text">

        Lots of actors and actresses come through our theater, and you know what that means...awesome pics!

        <br />
        <br /> Follow us on
        <strong>Instagram</strong> to...

        <br />
        <br />

        <ul>
            <li>See awesome pics shared by our performers</li>
        </ul>

    </div>

</div>