<div class="post">

    <h3 class="text facebook">Facebook</h3>

    <div class="text">

        We use
        <strong>Facebook</strong> to announce auditions, shows, and other events. We also use it to promote actors in our shows.

        <br />
        <br /> Follow us on
        <strong>Facebook</strong> to...

        <br />
        <br />

        <ul>
            <li>Hear about auditions</li>
            <li>Hear about shows and events</li>
            <li>See if you have any friends performing with us</li>
        </ul>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text twitter">Twitter</h3>

    <div class="text">

        We use
        <strong>Twitter</strong> to announce all sorts of special events.

        <br />
        <br /> Follow us on
        <strong>Twitter</strong> to...

        <br />
        <br />

        <ul>
            <li>Hear assorted announcements about shows, auditions, and other events</li>
        </ul>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text meetup">MeetUp</h3>

    <div class="text">

        <strong>Meetup</strong> is where we announce our free events; improv workshops, open-mic nights, etc.

        <br />
        <br /> Follow us on
        <strong>MeetUp</strong> to...

        <br />
        <br />

        <ul>
            <li>Meet other theater fans</li>
            <li>Get together with some friends and enjoy our theater's free workshops and events</li>
        </ul>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text instagram">Instagram</h3>

    <div class="text">

        Lots of actors and actresses come through our theater, and you know what that means...awesome pics!

        <br />
        <br /> Follow us on
        <strong>Instagram</strong> to...

        <br />
        <br />

        <ul>
            <li>See awesome pics shared by our performers</li>
        </ul>

    </div>

</div>

<br />

<div class="post">

    <h3 class="text patreon">Patreon</h3>

    <div class="text">

        The generosity of art-lovers, like yourself, enables us to provide a space where new actors can learn and grow their talents.

        <br />
        <br /> We also offer rewards to monthly donors. Check out our
        <a href="/support" class="top">Support Page</a> for details.

        <br />
        <br /> Support us on
        <strong>Patreon</strong> to...

        <br />
        <br />

        <ul>
            <li>Support our artists</li>
            <li>Help us keep our lights on</li>
            <li>Earn
                <a href="/support" class="top">rewards for monthly donations</a>
            </li>
        </ul>

    </div>

</div>