<div class="post">

    <h3 class="text patreon">Rewards for Donating</h3>

    <div class="text">

        Reward? Why, you'll receive our thanks and the warm feeling that comes with supporting the arts. Surely, to an altruist like
        yourself, that alone will be enough to - nah, I'm just kidding. We offer discounted tickets and free shows and stuff:

        <br />
        <br />

        <div class="prizeBox">

            <div class="center prize prizeBlue">
                <h3 class="prize">Any Amount</h3>
                <br/> 50% discount on a ticket, once a month</div>
            <div class="center prize prizeBlue">
                <h3 class="prize">$20 / Month</h3>
                <br/> 50% discount on all tickets</div>
            <div class="center prize prizeBlue">
                <h3 class="prize">$30 / Month</h3>
                <br/> 1 free ticket every month</div>
            <div class="center prize prizeGreen">
                <h3 class="prize">$50 / Month</h3>
                <br/> Unlimited free tickets</div>

            <div class="center">
                <button class="button patreon">Donate on Patreon</button>
            </div>

        </div>

    </div>

    <!-- 

    <h3 class="text patreon">Why Patreon?</h3>

    <div class="text">

        <strong>Patreon</strong> allows us to quickly see who are monthly supporters are at any given time - which is good news for
        our supporters, because that means we always know when they're eligible for free shows.

    </div>

    -->

</div>

<br />

<div class="post">

    <h3 class="text">A "Thank You" Message for Our Patrons</h3>

    <div class="text">

        Because we do not generate revenue by charging actors dues, we rely on the support of the artistic community to keep our
        lights on and our doors open. Your generosity empowers us to provide a space where new actors can learn and grow
        their craft.

        <br />
        <br /> We know how hard it is for new actors to get started, especially in Los Angeles. Merely finding a theater that gives
        rookie actors a chance to grow their talent (without burying them under dues) can be a challenge. Your support allows
        us to provide new actors with a free, safe, effective learning environment.

    </div>

</div>