<div class="post">

    <h3 class="text patreon">Rewards for Donating</h3>

    <div class="text">

        Reward? Why, you'll receive our thanks and the warm feeling that comes with supporting the arts. Surely, to an altruist like
        yourself, that alone will be enough to - nah, I'm just kidding. We offer discounted tickets and free shows and stuff:

        <br />
        <br />

        <div class="prizeBox">

            <div class="center prize prizeBlue">
                <h3 class="prize">$10 / Month</h3>
                <br/> 50% off 1 ticket every month</div>
            <div class="center prize prizeBlue">
                <h3 class="prize">$20 / Month</h3>
                <br/> 50% off on all tickets</div>
            <div class="center prize prizeBlue">
                <h3 class="prize">$30 / Month</h3>
                <br /> 50% off all tickets + 1 free ticket every month</div>
            <div class="center prize prizeGreen">
                <h3 class="prize">$50 / Month</h3>
                <br/> Unlimited free tickets</div>

        </div>

        <br /> To receive your discount, you must purchase your ticket in-person. Be sure to tell our ticket-taker you're a backer.
        You can also call and reserve your ticket:
        <a class="top" href="tel:323-850-7827">323-850-7827</a>.

        <div class="center">
            <a href="/patreon" class="top">
                <button class="button patreon">Donate on Patreon</button>
            </a>
        </div>


    </div>

</div>

<br />

<div class="post">

    <h3 class="text">A "Thank You" Message for Our Patrons</h3>

    <div class="text">

        Because we do not generate revenue by charging actors dues, we rely on the support of the artistic community to keep our
        lights on and our doors open. Your generosity enables us to provide a space where new actors can learn and grow
        their talents.

        <br />
        <br /> We know how hard it is for new actors to get started, especially in Los Angeles. Merely finding a theater that gives
        rookie actors a chance to grow their talent (without burying them under dues) can be a challenge. Your support allows
        us to provide new actors with a free, safe, effective learning environment.

    </div>

</div>