<div class="post">

    <h3 class="text">Legal Stuff</h3>

    <div class="text">

        <h1>
            <u>General Content</u>
        </h1>

        <br /> Everything on this site (content, images, UI, code, etc.) is the intellectual property of
        <a href="/contact" class="top">Jon Gilbert</a>, who is providing it to the
        <a href="/" class="top">Berubian Theater</a>.

        <br />
        <br />

        <h1>
            <u>Shows, Classes, &amp; Auditions</u>
        </h1>

        <br /> Anything posted on our
        <a href="/shows" class="top">Shows</a>,
        <a href="/classes" class="top">Classes</a>, and
        <a href="/auditions" class="top">Auditions</a> pages belongs to those for whom it was posted.

        <br />
        <br /> That said, our schedule posts are absolutely meant to be shared. Please feel free to support our performers by sharing
        everything posted on our
        <a href="/shows" class="top">Shows</a>,
        <a href="/classes" class="top">Classes</a>, and
        <a href="/auditions" class="top">Auditions</a> pages (including any accompanying images).

        <br />
        <br />

        <h1>
            <u>Banners</u>
        </h1>

        <br /> The banners for this webpage were designed and created by
        <a href="contact" class="top">Jon Gilbert</a>, with a little help from stock images and stencils.

        <br />
        <br /> Some banners contain images provided by...

        <br />
        <br />

        <ul>
            <li>
                <a href="http://hubblesite.org/images/gallery" class="top" target="blank">Hubble</a>
            </li>
            <li>
                <a href="https://thy-darkest-hour.deviantart.com/" class="top" target="blank">Thy-Darkest-Hour</a>
            </li>
            <li>
                <a href="https://www.amazon.com/Dark-Side-Moon-Explicit/dp/B019HKJTCI/ref=tmm_msc_swatch_0?_encoding=UTF8&qid=&sr=" class="top"
                    target="blank">Dark Side of the Moon</a>*
            </li>
        </ul>

        <br /> *The
        <a href="/" class="top">Berubian Theater</a> has permission to use art from Pink Floyd's
        <a href="https://www.amazon.com/Dark-Side-Moon-Explicit/dp/B019HKJTCI/ref=tmm_msc_swatch_0?_encoding=UTF8&qid=&sr=" class="top"
            target="blank">Dark Side of the Moon</a> album in conjunction with licensed their Pink-Floyd-themed show.

    </div>

</div>