<div class="poster center">

    <span class="links">
        <a href="/rent">The Next Stage</a>
    </span>
    <span class="links clicked">
        The Tre Stage
    </span>

</div>

<br />

<div class="post">

    <span id="stageInfo">

        <h3 class="text">The Tre Stage</h3>

        <h1 id="stage">
            <u>Stage Specifications</u>
        </h1>

        <div class="text">

            <p>It may be the smaller of our two stages, but what the
                <strong>Tre Stage</strong> lacks in size it more than makes up for in intimacy. This 3/4 Thrust Stage places audiences
                extremely close to the action.</p>

            <br />

            <p>The
                <strong>Tre Stage's</strong> 2 entrances are linked by a built-in backstage area, which grants quick access to the
                theater's dressing room and prop storage areas.
            </p>

            <br />

            <ul>
                <li>3/4 Thrust Stage</li>
                <li>2 Stage Entrances</li>
            </ul>

            <br />

        </div>

        <h1 id="sfx">
            <u>Lighting &amp; Sound</u>
        </h1>

        <div class="text">

            <p>The
                <strong>Next Stage</strong> comes fully loaded with a lighting and sound system, controlled via a small one-man SFX
                booth. Like the audience, the audio/visual tech is placed extremely close to the action and can see every
                intimate detail of the play.</p>

            <br />

            <ul>
                <li>1-man SFX booth with an extremely close-up view of the action</li>
                <li>Lighting controlled by switches in the SFX booth</li>
                <li>Audio controlled by a computer in the SFX booth</li>
            </ul>

            <br />

        </div>

        <h1 id="audience">
            <u>Audience / Seating</u>
        </h1>

        <div class="text">

            <p>Tiered rows of seating - one row of padded seats, one row of bench seating - place audience members extremely
                close to the action.</p>

            <br />

            <ul>
                <li>Intimate Black-Box venue</li>
                <li>Seating for up to 30 audience members</li>
            </ul>

            <br />

        </div>

        <h1 id="etc">
            <u>Amenities</u>
        </h1>

        <div class="text">

            <p>When you rent the
                <strong>Tre Stage</strong>, you also get...</p>

            <br />

            <ul>
                <li>Access to Dressing Room &amp; Prop Storage areas (shared with the
                    <a href="/rent" class="top">Next Stage</a>)</li>
                <li>Your show posted on
                    <a href="/shows" class="top">our website</a>
                </li>
            </ul>

            <br />

        </div>

        <h5 class="zero">
            <div class="center floor">
                <h1>
                    <u>Contact Us For a Quote</u>
                </h1>
            </div>
            <span class="links chain floor">
                Phone:
                <a href="tel:323-850-7827">323-850-7827</a>
            </span>
            <span class="links chain">
                eMail:
                <a href="mailto:chrisberube@mail.com">chrisberube@mail.com</a>
            </span>
        </h5>

    </span>

</div>