<div class="poster center">

    <span class="links">
        <a href="/shows">The Next Stage</a>
    </span>
    <span class="links clicked">
        The Tres Stage
    </span>

</div>

<br />

<div class="post">

    <h3 class="text">Tre Stage</h3>

    <div class="text">

        It may be slightly smaller than our main stage, but it's also our most intimate venue. This 3/4 Thrust stage is designed
        to place audience members as close to the action as possible - something gigantic auditoriums struggle to do.

        <br />
        <br /> This venue's events are hosted by
        <strong>GoldStar</strong>. Click below for tickets!

    </div>

    <h5 class="zero">
        <span class="links chain">
            <a href="https://www.goldstar.com/venues/hollywood-ca/tre-stage" target="blank">Showtimes and Tickets</a>
        </span>
    </h5>

</div>

<br />

<div class="post">

    <div class="text">

        Hello Chris and Rose,

        <br />
        <br /> My original plan was to create a SQL database which generates show schedules. However, I've  removed this database,
        as we're now creating schedules via
        <strong>GoldStar</strong>.

        <br />
        <br /> A better solution would be to generate show schedules by scraping data from
        <strong>GoldStar</strong>...but, sadly,
        <strong>GoldStar</strong> disallows scraping. I could probably find a way to scrape despite this, but I don't want to risk
        antagonizing the company hosting our events.

        <br />
        <br /> Fortunately, I later discovered that
        <strong>GoldStar</strong> has an API...which they're refusing to give me a key to. The person I spoke with insisted that
        clients use simple links to redirect users to
        <strong>GoldStar</strong> show schedules.

        <br />
        <br /> I have done just that. This page contains a
        <a href="https://www.goldstar.com/venues/hollywood-ca/next-stage" target="blank" class="top">Showtimes and Tickets</a> link which redirects users to the appropriate
        <strong>GoldStar</strong> page.

        <br />
        <br /> It may be possible for you to get an API key, even though I could not, as you are the ones with an actual
        <strong>GoldStar</strong> account. Please contact
        <strong>GoldStar</strong> and let me know if you're able to get an API key.

        <br />
        <br /> Best,
        <br /> Jon

    </div>

</div>