.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }

a {
    font-weight: bolder;
    text-transform: uppercase;
}

a:link {
    color: pink;
}

a:visited {
    color: pink;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

a.bottom {
    text-transform: none;
    text-decoration: none;
}

a.top {
    color: blue;
    text-transform: none;
    text-decoration: none;
}

a.top:hover {
    color: purple;
}

a.none {
    color: black; 
    text-decoration: none;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Caption', sans-serif;
    min-width: 380px;
    min-height: 100vh;
    background-color: gray;
}

#banner {
    max-width: 100%; 
    min-width: 352px;
    margin: 0 auto; 
    margin-top: -5px;
    margin-bottom: -3px;
}

div.bannerMusic {
    background: url("../images/musicalTile.png");
    background-position: center;
    background-repeat: repeat-x;
}

div.bannerAction {
    background: url("../images/actionTile.png");
    background-position: center;
    background-repeat: repeat-x;
}

div.bannerScifi {
    background: url("../images/scifiTile3.png");
    background-position: left;
    background-repeat: repeat-x;
}

div.break {
    width: 90%; 
    height: 5px;
    margin: 0 auto;  
    margin: 10px;
    background-color: #000000;
}

div.center {
    text-align: center;
}

div.chain {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
}

div.line {
    display: inline-block;
}

#extra {
    width: 100%;
}

div.extraMusic {
    background: url("");
    background-position: left;
    background-repeat: no-repeat;
}

div.github {
    height: 50px;
    width: 50px;
    background: url("../images/github.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}

div.gutter {
    height: 50px;
}

div.linkedin {
    height: 50px;
    width: 50px;
    background: url("../images/linkedin.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

div.links {
    max-width: 100%; 
    min-width: 352px;
    background-color: #000000;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    border: solid 1px black;
}

div.main {
    max-width: 800px; 
    min-width: 380px;
    margin: 0 auto; 
}

div.noteNext {
    background: url("../images/nextStage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

div.noteTres {
    background: url("../images/tresStage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

div.noteSmall {
    float: right;
    background-color: white;
    color: black;
}

div.nudge {
    margin-right: 6px;
}

#ping {
    width: 100%;
}

#ping:hover {
    cursor:pointer;
}
   
div.pingMusic {
    background: url("../images/musicalBanner.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.pingAction {
    background: url("../images/actionBanner.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.pingScifi {
    background: url("../images/scifiBanner3.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.pad {
    padding: 5px;
    max-width: 400px;
    min-width: 380px;
    margin: 0 auto;
}

button.patreon {
    background: url("../images/patreon.png");
    background-size: 50px;
    background-position: left;
    background-repeat: no-repeat;
    height: 50px;
    width: 281px;
    color: white;
    background-color:  #e6461a;
    margin-top: 12px;
    margin-right: 12px;
    padding-left: 36px;
}

div.post {
    border: solid 1px #000000;
    width: 90%;
    margin: 0 auto; 
}

div.poster {
    background-color: black;
    color: white;
}

div.posterText {
    padding: 5px;
    padding-left: 10px;
    background-color: black;
    color: white;
}

div.prize {
    display: table-cell;
    padding: 5px;
}

div.prizeBox {
    padding-right: 6px;
    font-weight: bolder;
}

div.prizeBlue {
    background-color: white;
    border: solid 2px black;
    border-right: 0;
}

div.prizeGreen {
    background-color: white;
    border: solid 2px black;
}

div.resp {
    margin-top: 1px;
    border: solid 1px black;
    min-width:380px;
}

div.rose {
    font-weight: bolder;
    text-transform: uppercase;
    cursor:pointer;
    color: pink;
}

div.rose:hover {
    color: red;
}

div.set {
    margin-bottom: -3px;
}

#audience {
    background-color: white;
}

#etc {
    background-color: white;
}

#pic {
    background-color: white;
}

#sfx {
    background-color: white;
}

#social {
    max-width: 100%; 
    min-width: 352px;
    margin: 0 auto; 
    margin-bottom: 60px;
}

#stage {
    padding-top: 10px;
    background-color: white;
}

div.social {
    background: url("../images/arrow.png");
    background-position: right;
    background-repeat: no-repeat;
}

div.subtitle-card {
    max-width: 800px; 
    min-width: 380px;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

div.subtitle-jon {
    border: solid 1px #000000;
    background-color: #000000;
    color: #ffffff;
    max-width: 782px; 
    min-width: 352px;
    margin: 0 auto; 
    margin-bottom: 15px;
    margin-top: -5px;
}

div.text {
    padding: 5px;
    padding-left: 10px;
    background-color: white;
}

div.wrap {
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow-y: hidden;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-weight: bolder;
    font-family: 'PT Sans Caption', sans-serif;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h1.subtitle-jon {
    margin: 0;
    padding: 3px;
    text-align: center;
    width: 100%;
}

h3.text {
    width: 100%; 
    background-color: black;
    color: white;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

h3.facebook {
    background: url("../images/facebook.png");
    background-size: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #3a559f; 
}

h3.instagram {
    background: url("../images/instagramSmall.png");
    background-size: 50px;
    background-position: left;
    background-position-x: -8px;
    background-repeat: no-repeat;
    background-color: #c8289e; 
}

h3.meetup {
    background: url("../images/meetup.png");
    background-size: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #e43534; 
}

h5.text {
    width: 100%; 
    background-color: black;
    color: white;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

h5.zero {
    width: 100%; 
    background-color: black;
    color: white;
    margin: 0;
}

header {
    padding: 0px;
}

img.clickable {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

img.l {
    float: left
}

img.r {
    float: right
}

img.stopgap {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

@media screen and (max-width: 800px) {
    
    div.pingMusic {
        background-position: right;
    }

    div.pingScifi {
        background-position: right;
    }

}














button {
    margin: 5px;
    font-weight: bold; 
    padding: 5px; 
    font-size: 16px;
    color: black;
}

div.button-jon-top {
    text-align: center;
    margin: 0 auto;
    background: white;
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid 1px black;
}

div.search {
    max-width: 782px; 
    min-width: 352px;
    margin: 0 auto; 
}

div.sliver {
    margin: 5px;
    margin-top: 0;
    text-align: left;
    height: 100px;
}

div.flex {
    display: flex;
}

div.floor {
    margin-bottom: 0;
    padding-bottom: 0;
}

input {
    background-color: #caebfe;
    color:#000000;
    font-weight: bold; 
    padding: 5px; 
    font-size: 16px;
    border: 0;
    margin: 5px; 
    border: solid 1px black;
    width: 85%;
}

input.frame {
    width: 95%;
}

input.pop {
    width: 100%;
    margin: 0; 
    margin-bottom: 5px;
    margin-top: 5px;
}

select {
    background-color: #9ecff0;
    color:#000000;
    font-weight: bold; 
    padding: 5px; 
    font-size: 16px;
    border: 0;
    margin: 5px; 
    border: solid 1px black;
}

span.links {
    display: inline-block;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

span.left {
    float: left;
    padding-left: 20px;
}

span.right {
    float: right;
    padding-right: 20px;
}

span.post {
    padding: 5px; 
}

.foodImg {
    max-width: 300px;
    max-height: 300px;
    border: solid 1px black;
}

.drinkImg {
    max-width: 300px;
    max-height: 300px;
    border: solid 1px black;
}
.title.is-5 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.section {
    padding: 0; 
    margin: 0;
}

p.box-food {
    background: url("../images/foodtile.png");
    background-repeat: no-repeat;
    background-color: black;    
    color: white;   
    text-align: center;
    padding: 0;
    padding: 5px;
    margin: 0 auto;
    height: 110px;
}

p.title, p.is-2 {
    margin-top: -5px;
}

div.food {
    max-width: 800px; 
    min-width: 380px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -5px;  
    background: url("../images/food.png");
    background-position: center;
    background-repeat: no-repeat; 
}

div.frame {
    border: solid 1px black;
    background-color: white;
}

div.drink {
    max-width: 800px; 
    min-width: 380px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -5px;  
    background: url("../images/drink.png");
    background-position: center;
    background-repeat: no-repeat; 
}

.drinkContainer {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.flavortext {
    font-style: italic;
}
.card {
    margin-bottom: 20px;
    border: solid 1px black;
}

.title.is-4 {    
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    padding-top: 32px;
    padding-left: 20px;
    padding-bottom: 10px
}

.card-footer {
    padding: 10px;
}

.card-header {
    padding: 10px;
}

.content {
    padding: 10px;
}